.truth-table {
    font-family: monospace;
    border-collapse: collapse;
    margin: 0 auto;
}

.truth-table tr > * {
    width: 2em;
    text-align: center;
}

.truth-table .last-input {
    padding-right: 16px;
    border-right: 3px solid var(--color-for-chrome);
}

.truth-table .first-output {
    padding-left: 16px;
}

.truth-table td input {
    width: 1em;
    text-align: center;
    border: none;
    font-family: monospace;
    background-color: transparent;
    border-bottom: 2px dotted var(--color-for-chrome);
}

.truth-table tbody tr:nth-child(2n) > * {
    background-color: #00b5e220;
}
